{{ define "content" }}
<h1>Confirm</h1>
<form method="POST" action="/user/register/do">
    <div class="form-group">
        <label>メールアドレス</label><br>
        <input class="form-control" type="text" name="email" value="{{ .Email }}" readonly />
    </div>
    <div>
        <input type="hidden" name="password" value="{{ .Password }}" />
        <input class="btn btn-success" type="submit" value="Sign Up">
    </div>
</form>
{{ end }}