{{ define "content" }}
<h1>確認</h1>
<form method="POST" action="/user/register/do">
    <div class="form-group">
        <div>
            <div class="cp_iptxt">
                <input class="ef" type="text" name="email" value="{{ .Email }}" readonly />
                <label>メールアドレス</label>
                <span class="focus_line"></span>
            </div>
        </div>
    </div>
    <div>
        <input type="hidden" name="password" value="{{ .Password }}" />
        <input class="clipButton" type="submit" value="登録する">
    </div>
</form>
{{ end }}