{{ define "content" }}
<div class="form-wrapper">
	<h3 class="form-title">ユーザー登録</h3>
	<form method="POST" action="/user/register/do">
		<div class="form-item">
			<label for="email"></label>
			<input type="email" name="email" required="required" value="{{ .Email }}" readonly></input>
		</div>
		<div class="button-panel">
			<input type="hidden" name="password" value="{{ .Password }}"></input>
			<input type="submit" class="button" title="登録する" value="登録する"></input>
		</div>
	</form>
	<div class="form-footer">
		<p><a href="/user/register/init">前の画面に戻る</a></p>
	</div>
</div>
{{ end }}