p {
    color: gray;
    font-weight: 100;
    line-height: 2;
    margin: 0;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: gray;
    font-size: 12px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: gray;
    font-size: 12px;
}
::placeholder{ /* Others */
    color: gray;
    font-size: 12px;
}

.headerClippo {
    margin:0;
}
.headerCover {
    padding: 5px 0px;
    margin: 0;
    background-color: #fff;
    border-bottom: 2px solid #afd8ff;
}
.headerDesign {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
.headerLinks {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding: 0px 50px;
}

.headerLinks h1 {
    margin: 0;
}

.headerLinks a {
    color: #afd8ff;
    font-weight: bold;
}

.headerLinks a:hover {
    -webkit-text-stroke: 0.5px #c8e7ff;
    color: white;
    font-weight: bold;
}

.headerButton {
    color: white;
    border: 2px solid;
}

.signUpButton {
    border: 1px solid;
}

.headerInnerLinks {
    display: flex;
}

.footerCover {
    margin-top: 100px;
    background-color: #afd8ff;
    text-align: center;
    height: 70px;
}

.footerCover h5 {
    -webkit-text-stroke: 0.5px #c8e7ff;
    line-height: 70px;
    color: white;
}
.contentCover {
    padding-top: 75px;
}
.content {
    margin: 50px 0px;
}

.sectionTitle {
    display: inline-block;
    padding: 15px;
}

.sectionUnderline {
    margin-bottom: 50px!important;
    border-bottom: 3px solid #FAFAFA;
}

.clipButton {
    font-weight: 100;
    color: #afd8ff;
    border: 2px solid;
    border-radius: 5px;
    padding: 3px;
    font-size: 14px;
    width: 100px;
    outline: none;
}

.postRegisterConfirmImage {
    margin-left: 20px;
}
.postRegisterConfirmImage img {
    border: 1px solid #FAFAFA;
    border-radius: 5px;
}

.narrowDown {
    border: 1px solid lightskyblue;
    color: dodgerblue;
    background-color: aliceblue;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 10px;
}

.narrowDownCover {
    width: 80px;
}

.narrowDownCover2 {
    width: 180px;
}

.narrowDownCover p {
    font-size: 14px;
    margin: 0;
}
.clipWrapperBig {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
}

.clipWrapper {
    width: 450px;
    margin: 0px 10px 20px 10px;
    border: 1px solid #f4faff;
}
.clipImage {
    object-fit: cover;
    border: 2px solid #FAFAFA;
    border-radius: 10px;
}

.clipCategory {
    border: 1px solid lightskyblue;
    border-radius: 10px;
    color: lightskyblue;
    padding: 5px;
    font-size: 12px;
}

.clipTitle {
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
    font-size: 14px;
    border-bottom: 1px solid gray;
}

.clipDescription {
    font-size: 12px;
    margin: 0;
    border: 1px solid#F2F2F2;
    padding: 10px;
    height: 150px;
}
.linkToOtherPage {
    padding: 2px;
    border: 0px;
    border-radius: 10px;
    color: #A9E2F3;
    font-size: 8px;
    word-break: break-all;
}
.linkToOtherPage:hover {
    color: #00BFFF;
}
.deleteButton {
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid red;
    background-color: #FA5858;
    color: white;
    font-size: 12px;
    padding: 1px 3px;
}

.clippoInputConfirm {
    font-size: 14px;
    margin-left: 15px;
    width: 75%;
    border: 0px;
    border-bottom: 2px solid aliceblue;
    padding: 5px;
    outline: none;
}

.clippoTextareaConfirm {
    font-size: 14px;
    width: 75%;
    height: 100px;
    border: 2px solid aliceblue;
    padding: 10px;
    outline: none;
}

.clippoInput {
    width: 350px;
    border: 0px;
    border-bottom: 2px solid aliceblue;
    padding: 5px;
    outline: none;
}

.clippoText {
    width: 100px;
    text-align: center;
    margin: 5px 0px;
    padding: 3px;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    display: inline-block;
    font-size: 12px;
    color: lightskyblue;
    margin-bottom: 10px;
}

.clippoCover {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.searchList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 10px;
    width: 80%;
}

.searchList form {
    display: flex;
    flex-wrap: wrap;
}

.searchList li input {
    text-align: center;
    width: 100px;
    color: gray;
    font-size: 12px;
    border: none;
    border-bottom: 2px solid aliceblue;
    padding: 5px;
    margin: 0px  5px 10px 5px;
    outline: none;
}

.searchList li input:hover {
    text-align: center;
    width: 100px;
    color: darkslategray;
    font-size: 12px;
    border: none;
    border-bottom: 2px solid lightskyblue;
    padding: 5px;
    margin: 0px  5px 10px 5px;
    outline: none;
}

/*************************************
* ネットから拾ってきたinputタグ
* https://copypet.jp/692/
**************************************/
.cp_iptxt {
	position: relative;
	width: 80%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}
.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: lightskyblue;
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: lightskyblue;
}

/*************************************
* ネットから拾ってきたform
* https://codepen.io/bowie/pen/erEoh
**************************************/

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Simple Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* Form Layout */
.form-wrapper {
    background: #fafafa;
    margin: 3em auto;
    padding: 15px;
    max-width: 370px;
    border-radius: 10px;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-title {
    text-align: center;
    margin: 0;
    color: gray;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
    background: lightskyblue;
    border: 2px solid #FAFAFA;
    border-radius: 10px;
    color:white;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

.button:hover {
    background: #008eff;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}
