{{ define "content" }}
<form method="POST" action="/post/register/do">
    <div class="clippoCover">
        <p class="clippoText mr-3">タイトル</p>
        <input class="clippoInputConfirm" type="text" name="title" value="{{.Title}}" required />
    </div>
    <div class="clippoCover">
        <p class="clippoText mr-3">URL</p>
        <input class="linkToOtherPage" type="button" class="linkToOtherPage" value="{{ .Url }}" onClick="window.open('{{ .Url }}');">
        <input type="hidden" name="url" value="{{.Url}}" required />
    </div>
    <div class="clippoCover">
        <p class="clippoText mr-3">イメージ画像</p>
        <input class="linkToOtherPage" type="button" class="linkToOtherPage" value="{{ .Image }}" onClick="window.open('{{ .Image }}');">
        <input type="hidden" name="image" value="{{.Image}}" required />
        <div class="postRegisterConfirmImage">
            <img src="{{.Image}}" width="75px" height="75px">
        </div>
    </div>
    <div class="clippoCover">
        <p class="clippoText mr-3">タグ</p>
        <input class="clippoInputConfirm" type="text" name="tag_name" placeholder="スペース区切りで入力してください" required />
    </div>
    <div class="clippoCover">
        <p class="clippoText mr-3">記事の要約</p>
        <textarea class="clippoTextareaConfirm" type="text" maxlength="150" name="description" placeholder="150文字以内でクリップしたい記事の要約を書いてください" required>{{.Description}}</textarea>
    </div>
    <div class="text-center mt-5">
        <input class="clipButton" type="submit" value="投稿する">
    </div>
</form>
{{ end }}