{{ define "content" }}
<form method="POST" action="/test/do">
    <div class="clippoCover">
        <p class="clippoText mr-3">タイトル</p>
        <input class="clippoInputConfirm" type="text" name="title" value="{{.Title}}" required />
    </div>
    <div class="clippoCover">
        <p class="clippoText mr-3">URL</p>
        <input class="linkToOtherPage" type="button" class="linkToOtherPage" value="{{ .Url }}" onClick="window.open('{{ .Url }}');">
        <input type="hidden" name="url" value="{{.Url}}" required />
    </div>
    <div class="clippoCover">
        <p class="clippoText mr-3">イメージ画像</p>
        <input class="linkToOtherPage" type="button" class="linkToOtherPage" value="{{ .Image }}" onClick="window.open('{{ .Image }}');">
        <input type="hidden" name="image" value="{{.Image}}" required />
        <div class="postRegisterConfirmImage">
            <img src="{{.Image}}" width="75px" height="75px">
        </div>
    </div>
    <div class="clippoCover">
        <div class="dropdown dropright">
            <p class="clippoText mr-3">記事の目的</p>
            <select name="usecase">
                <option value="おもしろい">おもしろい</option>
                <option value="エラー解決">エラー解決</option>
                <option value="知識">知識</option>
                <option value="リファレンス">リファレンス</option>
                <option value="チュートリアル">チュートリアル</option>
                <option value="その他">その他</option>
            </select>
        </div>
    </div>
    <div class="clippoCover">
        <p class="clippoText mr-3">ジャンル</p>
        <select name="genre">
            <option value="プログラミング言語">プログラミング言語</option>
            <option value="フレームワーク">フレームワーク</option>
            <option value="ライブラリ">ライブラリ</option>
            <option value="OS">OS</option>
            <option value="SQL">SQL</option>
            <option value="クラウド">クラウド</option>
            <option value="コンテナ技術">コンテナ技術</option>
            <option value="デザイン">デザイン</option>
            <option value="その他">その他</option>
        </select>
    </div>
    <div class="clippoCover">
        <p class="clippoText mr-3">記事の要約</p>
        <textarea class="clippoTextareaConfirm" type="text" maxlength="150" name="description" placeholder="150文字以内でクリップしたい記事の要約を書いてください" required>{{.Description}}</textarea>
    </div>
    <div class="text-center mt-5">
        <input class="clipButton" type="submit" value="投稿する">
    </div>
</form>
{{ end }}