{{ define "content" }}
<div class="clippoCover sectionUnderline">
    <h5 class="sectionTitle">マイリスト</h5>
    <form method="POST" action="/post/register/confirm">
        <input class="clippoInput" name="url" type="text" placeholder="クリップしたい記事のURLをタイプ！" required />
        <input class="clipButton" type="submit" value="Clip">
    </form>
</div>
<div class="clippoCover pl-5 pr-5">
    <p class="clippoText">タイトル検索</p>
    <form method="POST" action="/post/search/title">
        <input class="clippoInput" name="title" type="text" placeholder="タイトルで検索" required />
        <input class="clipButton" type="submit" value="検索">
    </form>
</div>
<div class="clippoCover pl-5 pr-5">
    <p class="clippoText">記事の目的</p>
    <ul class="searchList">
        <form>
            <li><input name="usecase" type="submit" value="おもしろい" formmethod="post" formaction="/post/search/usecase" /></li>
            <li><input name="usecase" type="submit" value="エラー解決" formmethod="post" formaction="/post/search/usecase" /></li>
            <li><input name="usecase" type="submit" value="知識" formmethod="post" formaction="/post/search/usecase" /></li>
            <li><input name="usecase" type="submit" value="リファレンス" formmethod="post" formaction="/post/search/usecase" /></li>
            <li><input name="usecase" type="submit" value="チュートリアル" formmethod="post" formaction="/post/search/usecase" /></li>
            <li><input name="usecase" type="submit" value="その他" formmethod="post" formaction="/post/search/usecase" /></li>
        </form>
    </ul>
</div>
<div class="clippoCover pl-5 pr-5">
    <p class="clippoText">ジャンル</p>
    <ul class="searchList">
        <form>
            <li><input name="genre" type="submit" value="プログラミング言語" formmethod="post" formaction="/post/search/genre" /></li>
            <li><input name="genre" type="submit" value="フレームワーク" formmethod="post" formaction="/post/search/genre" /></li>
            <li><input name="genre" type="submit" value="ライブラリ" formmethod="post" formaction="/post/search/genre" /></li>
            <li><input name="genre" type="submit" value="OS" formmethod="post" formaction="/post/search/genre" /></li>
            <li><input name="genre" type="submit" value="SQL" formmethod="post" formaction="/post/search/genre" /></li>
            <li><input name="genre" type="submit" value="クラウド" formmethod="post" formaction="/post/search/genre" /></li>
            <li><input name="genre" type="submit" value="コンテナ技術" formmethod="post" formaction="/post/search/genre" /></li>
            <li><input name="genre" type="submit" value="デザイン" formmethod="post" formaction="/post/search/genre" /></li>
            <li><input name="genre" type="submit" value="その他" formmethod="post" formaction="/post/search/genre" /></li>
        </form>
    </ul>
</div>
<div class="clipWrapperBig">
    {{ range . }}
        <div class="clipWrapper">
            <div class="shadow-sm p-2">
                <div class="d-flex">
                    <div class="text-center">
                        <img src="{{ .Image }}" width="75px" height="75px" class="clipImage">
                    </div>
                    <div style="padding:0px 10px">
                    	<input type="button" class="linkToOtherPage" value="{{ .Url }}" onClick="window.open('{{ .Url }}');">
                        <p class="clipTitle">{{ .Title }}</p>
                    </div>
                </div>
                <div>
                    <div class="m-2">
                        <span class="clipCategory">{{ .Usecase }}</span>
                        <span class="clipCategory">{{ .Genre }}</span>
                    </div>
                    <p class="clipDescription">{{ .Description }}</p>
                    <form method="POST" action="/post/delete" style="text-align: right;padding:0!important">
                        <input type="hidden" name="post_id" value="{{ .Id }}">
                        <input type="submit" class="deleteButton" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    {{end}}
</div>
{{ end }}