{{ define "content" }}
<div class="content text-center">
    <form method="POST" action="/test">
        <input class="clippoInput" name="url" type="text" placeholder="クリップしたい記事のURLをタイプ！" required />
        <input class="clipButton" type="submit" value="Clip">
    </form>
</div>
    <div class="d-flex justify-content-center">
        <div class="clipWrapper">
            <div class="shadow-sm p-2">
                <div class="d-flex">
                    <div class="text-center">
                        <img src="{{ .Image }}" width="75px" height="75px" class="clipImage">
                    </div>
                    <div style="padding:0px 10px">
                    	<input type="button" class="linkToOtherPage" value="{{ .URL }}" onClick="window.open('{{ .URL }}');">
                        <p class="clipTitle">{{ .Title }}</p>
                    </div>
                </div>
                <div>
                    <div class="m-2">
                        {{ range .TagNames }}
                            <span class="clipCategory">{{ . }}</span>
                        {{end}}
                    </div>
                    <p class="clipDescription">{{ .Description }}</p>
                    <form method="POST" action="/test/delete" style="text-align: right;padding:0!important">
                        <input type="submit" class="deleteButton" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{{ end }}