{{define "header"}}
<header class="headerDesign shadow-sm">
    <ul class="headerCover">
        <li class="headerLinks">
            <h1><a class="nav-link" href="/">Clippo</a></h1>
            <div class="headerInnerLinks">
                <a class="btn headerButton" style="background-color:dodgerblue;" href="/user/register/init">SignUp</a>
                <a class="btn headerButton" href="/login">Login</a>
            </div>
        </li>
    </ul>
</header>
{{end}}