{{define "header"}}
<header class="headerDesign shadow-sm">
    <div class="headerCover">
        <div class="headerLinks">
            <h1><a class="nav-link active" href="/top">Clippo</a></h1>
            <div class="headerInnerLinks">
                <a class="nav-link btn headerButton" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</header>
{{end}}