{{define "header"}}
<header class="headerDesign shadow-sm">
    <div class="headerCover">
        <div class="headerLinks">
            <div>
                <p class="headerClippo"><a href="/">Clippo</a></p>
            </div>
            <div class="headerInnerLinks">
                <a class="btn headerButton signUpButton" href="/user/register/init">SignUp</a>
                <a class="btn headerButton" href="/login">Login</a>
            </div>
        </div>
    </div>
</header>
{{end}}