{{ define "content" }}
<div class="form-wrapper">
	<h3 class="form-title">ログイン</h3>
	<form method="POST" action="/login/success">
		<div class="form-item">
			<label for="email"></label>
			<input type="email" name="email" required="required" placeholder="メールアドレス"></input>
		</div>
		<div class="form-item">
			<label for="password"></label>
			<input type="password" name="password" required="required" placeholder="パスワード"></input>
		</div>
		<div class="button-panel">
			<input type="submit" class="button" title="確認する" value="ログイン"></input>
		</div>
	</form>
	<div class="form-footer">
		<p><a href="/">前の画面に戻る</a></p>
	</div>
</div>
{{ end }}