{{ define "content" }}
<h1 class="mb-5">ログイン</h1>
<form method="POST" action="/login/success">
	<div class="mt-5">
		<div class="cp_iptxt">
			<input class="ef" style="width:100%;padding-left: 150px;" name="email" type="email" required >
			<label>メールアドレス</label>
			<span class="focus_line"></span>
		</div>
	</div>
	<div class="mt-5 mb-5">
		<div class="cp_iptxt">
			<input class="ef" style="width:100%;padding-left: 150px;" name="password" type="password" required >
			<label>パスワード</label>
			<span class="focus_line"></span>
		</div>
	</div>
	<div>
		<input class="clipButton" type="submit" value="ログイン">
	</div>
</form>
{{ end }}